
docs/
testing/
tests/
Prompts.txt
*.bat
*.mol2
*.pdb
*.pyc
__pycache__/
*.sdf
graphify-out/
.DS_Store
.graphifyignore
dist/
build/
*.build/
*.dist/
*.onefile-build/
venv/
.venv/
env/
*.pdbqt
*.cif
*.mmcif
