
docs/
testing/
tests/

Prompts.txt
.launcher_icon_set
linkedin_article.txt
run_app.bat

*.mol2
*.pdb
*.pyc
__pycache__/
*.sdf
MLP_Tools/

CPPCartoon/
graphify-out/

.DS_Store
.graphifyignore
Claude.md
.claude

dist/*
!dist/*.dmg
*.lnk
build/
*.build/
*.dist/
*.onefile-build/

venv/
.venv/
env/
