
docs/
testing/
tests/
chemcanvas-main/
Prompts.txt
*.bat
*.mol2
*.pdb
*.pyc
__pycache__/
*.sdf
graphify-out/

.DS_Store
.graphifyignore
Claude.md
.claude

dist/
build/
*.build/
*.dist/
*.onefile-build/

venv/
.venv/
env/
